.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.2rem solid blueviolet;
    background-color: whitesmoke;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 rgb(182, 119, 241);
    transform: translate(-0.5rem);
    transition: transform 150ms;
}

.choice-prefix{
   padding: 1.5rem 2.5rem; 
   background-color: orange;
   color: blueviolet;
}

.choice-text{
    padding: 1.5rem; 
    width: 100%;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

/* HUD */
#hud{
    display: flex;
    justify-content: space-around;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}